* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  height: 100vh;
  background-image: linear-gradient(45deg, #190361 0%, #bb00ff 100%);
  background-size: 300%;
  animation: bg-animation 15s infinite alternate;

  display: grid;
  place-items: center;
}
main {
  margin-top: -7.5rem;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);

  text-align: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #34355b;
}

p,
button {
  font-family: "DM Sans", sans-serif;
}

/* scree1 */
.screen1 {
  margin: 3rem 4rem 4rem;
  max-width: 19.5rem;
}

.screen1 h1 {
  margin-bottom: 0.875rem;
}

.screen1 p {
  font-weight: 400;
  font-size: 1rem;
  color: #34355b;
  margin-bottom: 1.25rem;
}

.screen1 img {
  max-height: 12.5rem;
  max-width: 16.5rem;
  cursor: pointer;
}

.screen1 img:hover {
  animation: shake 0.5s infinite;
}

/* screen2 */
.screen2 {
  margin: 3rem 4rem;
  max-width: 19.5rem;
  text-align: center;
}

.screen2 h1 {
  margin-bottom: 1rem;
}

.screen2 p {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 0.625rem;
  margin-bottom: 1rem;
  background: #e4edf1;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);

  animation: slide-up 2s;
}

.screen2 img {
  max-width: 18.75rem;
  max-height: 7.25rem;
  margin: 2.625rem 0;
}

.screen2 button {
  font-weight: 700;
  font-size: 1rem;
  color: #ffffff;
  background-color: #ff9500;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 1rem;
  margin-top: 1rem;
}

.screen2 button:hover {
  filter: brightness(1.1);
}

/* keyframes */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(9.375rem) scale(0.2);
    opacity: 0.2;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

/* media query */
@media (max-width: 500px) {
  main {
    margin: -7.5rem 0.5rem 0;
  }

  .screen1,
  .screen2 {
    margin: 1rem;
  }

  .screen1 img {
    max-width: 10.5rem;
  }

  .screen2 img {
    max-width: 13.5rem;
  }
}
